:root {
  --background-color: #242424;
  --text-color: rgba(255, 255, 255, 0.87);
  --primary-color: #1e88e5;
  --secondary-color: #e53935;
  --border-color: #333;
  --column-bg: #2c2c2c;
  --column-header-bg: #1e1e1e;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}
